.Cell{
    width: 100px;
    height: 100%;
    box-sizing:border-box;
    line-height: 35px;
    font-size: 20px;
    &.Label {
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
        border: 1px solid rgb(192, 192, 192);
        padding-left: 3px;
        vertical-align: middle;
        cursor:default
        }
    &.Input{
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        height: 100%;
        // margin-top: -4px;
        padding: 0 0 0 3px;
        border: 2px solid #1A73E8;
        background: #eee;
        display: inline-block;
        vertical-align: middle;
        cursor:default
    }
    &.Input:focus{
        outline: none;
        cursor:text
    }
}

.Column {
    min-width: 130px;
    max-width: 130px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 0;
}

.Row {
    margin: 0;
    border: 0;
}

th{
    min-width: 50px;
    border: 1px solid rgb(192, 192, 192);
    background-color: #cecece;
}